/* Global */ 

body {
  Font-family: sans-serif;
  margin: 0;
}

.general-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.grid-container {
  //border: 1px solid red;
  display: grid;
 
  grid-template-columns: [sidebar-start] 1fr [sidebar-end] 6fr [content-end];  // 188px 1092px
  grid-template-rows: [topper-start] 71px [topper-end] 5px [general-statistic-start] 1fr  [links-start] /*847px*/ 1fr [links-end];
  grid-auto-flow: row;
  justify-content: center; /* poziomie */
  align-content: center; /* pionie */
  justify-items: stretch;
  align-items: stretch;
  background: $table-background;
  grid-column-gap: 0;
}

.item {
  background: white;
}

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: topper-start / links-end;
  background: $sidebar-nav;
  position: fixed;
  height: 100%;
}

.topper {
  grid-column: sidebar-end / content-end;
  grid-row: topper-start / topper-end;
  margin-left: -10px;
  padding: 0;
}

.general-statistic {
  grid-column: sidebar-end / content-end;
  grid-row: general-statistic-start / links-start;
  margin: 0.75% 1% 1.5% 1%; 
}

.links {
  grid-column: sidebar-end / content-end;
  grid-row: links-start / links-end;
  margin: 0 1% 1.5% 1%;

  .section-name {
    border-top: 1px solid $background-color;
    border-bottom: 1px solid $background-color;
    padding-bottom: 12px;
  }
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section-name {
  padding: 0 16px;
  height: 25px;
}

