#sidebar {
  height: 100%;
  transition: $transition;
  background: $sidebar-nav;
  min-width: max-content;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding-top: 5px;
  background: $sidebar-nav;
}

.title {
  padding: 0 15px;
  color: $table-background;
  font-family: $title-font;
  margin-top: -9px;
}

.but-1 {
  background-color: $sidebar-nav;
  margin-top: 0;
  margin-bottom: 4px;
  padding: 20px 5px 0 5px;
  font-size: 20px;

  &:hover {
    background-color: $sidebar-hover-background;
  }
}

.icon {
  color: white;
  padding-right: 13px;
}

.banner-wrapper {
  display: flex;
  margin-top: 0;
  padding-top: 0;
}

.sidebar-menu {
  background: $sidebar-nav;
  opacity: 1;
}

.sidebar-menu-list {
  border: 1px solid green;
  display: contents;

  .active a{
    color: white;
  }

  li {
    margin: 5px 0;
    list-style-type: none;

    .sidebar-menu-list-wrapper {
      padding: 8px 10px;
      position: relative;

      a {
        text-decoration: none;
        color: $side-bar-font-color;
      }
    }

    .sidebar-menu-list-wrapper::before {
      content: "";
      height: 35px;
      width: 5px;
      background-color: $buttons-color;
      display: inline-block;
      z-index: 1;
      position: absolute;
      opacity: 0;
      bottom: 0;
      left: 0;
    }

    .sidebar-menu-list-wrapper:hover:before {
      opacity: 1;
    }
    
    .icon-image {
      height: 15px;
      width: 15px;
      margin-right: 15px;
      filter: invert(83%) sepia(78%) saturate(0%) hue-rotate(202deg) brightness(60%) contrast(85%);
    }
  }

  li:hover {
    background-color: $sidebar-hover-background;

    a {
      color: white;
    }

    .icon-image {
      filter: brightness(0) invert(1);
    }
  }
}

.sidebar-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  border-top: 1px solid $side-bar-font-color;

  .manager-title {
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: $side-bar-font-color;
    margin-right: 25px;
  }

  .manager-wrapper {
    display: inline-flex;
    padding: 0 10px 10px;
    margin: 0 auto;


    .dot {
      height: 15px;
      width: 15px;
      background-color: $manger-availability-dot;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      margin-left: 35px;
    }

    .manager-name {
      padding: 5px;
      color: $links-color;
      width: 100%;
      display: flex;
      align-items: center;


      &:hover {
        background-color: $sidebar-hover-background;
      }
    }

    .manager-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      position: relative;
    }
  }
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

body.active {
  .sidebar {
    width: 70px;
  }

  .title { 
    display: none;
    width: 2px;
  }

  .but-1 {
    margin-left: 17px;
    padding-right: 0;
  }

  .title-wrapper {
    justify-content: flex-start;
  }

  .sidebar-menu-list-wrapper {
    width: 30px;
    height: 18px;
    margin: 0;
  }

  .sidebar-menu-list-wrapper a {
    color: $sidebar-nav;
  }

  .link-text,
  .manager-title,
  .manager-name,
  .total-side-amount,
  .user-side-name,
  .topper-icon-side-arrow {
    display: none;
  }

  .manager-wrapper {
    width: 30px;
    margin-top: 20px;
  }

  .sidebar-contact .manager-wrapper {
    margin-left: -2px;
  }

  .sidebar-menu-list-wrapper {
    margin-left: 12px;
    margin-right: 0;
  }

  .topper-side-profile {
    min-width: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .topper-cell {
    justify-content: stretch;
  }
}


.side-topper {
  display: none;
}