/* Colors */
$paragraph-color: #000000; //black
$brand-main-color: #ff0000; //red
$navbar-font-color: #e3e3e3; //kolor szary, liter na czarnym tle
$links-color: #56819f; // blue
$font-wallet-color: #979797; //ciemnoszary
$page-title-color: white;
$sidebar-nav: #191919; //dark black
$buttons-color: #FF9A38; //orange
$side-bar-font-color: #808080;
$background-color: #EEEEEB;
$manger-availability-dot: #04AE00; //green
$sidebar-hover-background: #282828;
$signups-dot: #80BFCA;
$earned-dot: #59B66D;
$table-background: #F1F3F3;


/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$side-bar-font: 'Abel', sans-serif;
//$title-font: 'Satisfy';
$title-font: 'Just Another Hand', cursive;

/*transition*/
$transition: all 0.5s ease;