.button {
  background-color: $buttons-color;
  border: none;
  border-radius: 10%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 10px;

  &:hover {
    box-shadow: 0 0 11px $links-color;
  }

  img {
    filter: brightness(0) invert(1);
  }
}

.button-container {
  //display: flex;
  //justify-content: center;
  padding: 20px;

  .btn-links {
    color: white;
    justify-content: space-around;
    font-size: 18px;
    align-items: center;
    height: 40px;
    width: 110px;
    border-radius: 5%;
  }

  i {
    color: white;
    font-size: 15px;
  }
}

.btn-cal {
  background-color: $buttons-color;
  border: none;
  border-radius: 10%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 10px;

  &:hover {
    box-shadow: 0 0 11px $links-color;
  }
}

.general-callender {
  a {
    height: 40px;
    text-decoration: none;
  }

  .icon {
    height: 20px;
    width: 20px;
    
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
  }
}