.link-wrapper {
  text-decoration: none;

  display: flex;
  align-items: center;
  padding: 0 15px;
  position: relative;
  width: 100%;
  

  .links-icon {
    display: flex;
    margin-top: 12px;
    margin-left: 8px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
  }
}

.links-table {
  margin: 0 auto;
  border-collapse: collapse;
  transition: $transition;

  th {
    text-align: left;
    padding: 15px 80px 15px 30px;
  }

  td {
    text-align: left;
    padding: 15px 30px 15px 40px;
  }

  tr {
    border-bottom: 1px solid $background-color;
    border-top: 1px solid $background-color;
    z-index: 1;
    width: 200px;

    &:hover {
      background-color: $table-background;
    }
  }

  .link-address {
    color: $links-color;
  }
}

.links-img {
  filter: grayscale(150%) brightness(150%) sepia(60%) hue-rotate(5deg) saturate(500%) contrast(0.9);
}

.links-icon {
  margin-left: 10px;
  opacity: 0;
}

.links-table tr:hover .links-icon {
  opacity: 1;
}

.img-wrapper {
  width: 100px;
}

.icon-image {
  width: 20px;
  height: 20px;
}

.btn-links {
  background: $buttons-color;
  color: $table-background;
}