/* Homepage */

@media (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-rows: [general-statistic-start] 1fr  [links-start] /*847px*/ 1fr [links-end];
  }
   
  .sidebar {
    grid-column: sidebar-start / sidebar-end;
    
    background: $sidebar-nav;
    position: fixed;
    height: 100%;
    z-index: 2;
    left: 0;
  }
  
  .topper {
    display: none;
  }

  .side-topper {
    display: flex;
    position: static;
  }

  .topper-side-wrapper {
    display: flex;
    height: 200px;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
  }

  .topper-side-cell {
    margin: 0;
    padding: 0;
    border: 1px $side-bar-font-color;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    background: white;
    width: 100%;
    height: 80px;
    background: $sidebar-nav;
  }

  .general-statistic {
    
    grid-row: general-statistic-start / links-start;
    margin: 0.75% 1% 1.5% 1%; 
  }

  .general-wrapper {
    margin-left: 80px;
  }
  
  .links {
    grid-row: links-start / links-end;
    margin: 0 1% 1.5% 1%;
  }

  .section-name {
    padding: 0;
    height: 25px;
  }

  h2 {
    text-align: center;
  }

  .subtitle-wrapper {
    text-align: center;
    margin-left: 0;
  }

  .general-callender {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .earnings-chart {
    text-align: center;
  }

  .link-wrapper {
    .total-side-amount {
      margin: 0 7px;
    }

    .topper-side-icon {
      margin-left: -3px;
    }
  }

  .topper-side-wrapper {
    width: 30px;
  }

  .topper-side-cell {
    width: 30px;
  }

  .user-side-name {
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .link-side-wrqpper {
    width: 30px;
  }

  .topper-side-profile {
    min-width: 140px;
  }

  .links-table {
    margin-left: 70px;

    th {
      padding: 15px 80px 15px 0;
    }
  
    td {  
      padding: 15px 30px 15px 0;
    }
  }

  body.active {
    .general-statistic {
      margin: 0.75% 1% 1.5% 3%; 
    }
    
    .links {
      margin: 0 1% 1.5% 3%;
    }
  }
}

@media (max-width: 575.98px) {
  .grid-container {
    //border: 1px solid red;
    display: grid;
    grid-template-rows: [general-statistic-start] 1fr  [links-start] /*847px*/ 1fr [links-end];
  }
   
  .sidebar {
    grid-column: sidebar-start / sidebar-end;
    
    background: $sidebar-nav;
    position: fixed;
    height: 100%;
    z-index: 2;
    left: 0;
  }
  
  .topper {
    display: none;
  }

  .side-topper {
    display: flex;
    position: static;
  }

  .topper-side-wrapper {
    display: flex;
    height: 200px;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
  }

  .topper-side-cell {
    border: 1px $side-bar-font-color;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    background: white;
    width: 100%;
    height: 80px;
    background: $sidebar-nav;
  }

  .general-statistic {
    grid-row: general-statistic-start / links-start;
    margin: 0.75% 1% 1.5% 13%; 
  }
  
  .links {
    grid-row: links-start / links-end;
    margin: 0 1% 1.5% 13%;
  }

  .section-name {
    padding: 0;
    height: 25px;
    margin-left: 40px;
    
  }

  h2 {
    text-align: center;
  }

  .subtitle-wrapper {
    text-align: center;
    padding-left: 0;
    margin-left: 40px;
  }

  .general-callender {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 120px;
  }

  .earnings-chart {
    text-align: center;
  }

  .general-wrapper {
    margin-left: 80px;
  }

  .link-wrapper {
    .total-side-amount {
      margin: 0 7px;
    }

    .topper-side-icon {
      margin-left: -3px;
    }
  }

  .topper-side-wrapper {
    width: 30px;
  }

  .topper-side-cell {
    width: 30px;
  }

  .user-side-name {
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .topper-side-profile {
    min-width: 140px;
  }

  body.active {
    .general-statistic {
      margin: 0.75% 1% 1.5% 7%;; 
    }
    
    .links {
      margin: 0 1% 1.5% 7%;
    }
  }

}