/* Homepage */

@media (max-width: 1024px) {
  .links {
    margin: 20px;
    padding-left: 0;
  }

  .grid-container {
    margin: 0 auto;
  }

  .sidebar {
    z-index: 2;
  }

  .topper {
    display: none;
  }

  .side-topper {
    display: flex;
    position: static;
  }

  .topper-side-wrapper {
    display: flex;
    height: 200px;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
  }

  .topper-side-cell {
    margin: 0;
    padding: 0;
    border: 1px $side-bar-font-color;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    background: white;
    width: 100%;
    height: 80px;
    background: $sidebar-nav;
  }

  .general-statistic {
    margin: 20px;
  }

  .section-name {
    padding: 0;
    height: 25px;
  }

  h2 {
    text-align: center;
  }

  .subtitle-wrapper {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }

  .general-callender {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .earnings-chart {
    text-align: center;
  }

  .link-wrapper {
    .total-side-amount {
      margin: 0 7px;
    }

    .topper-side-icon {
      margin-left: -3px;
    }
  }

  .topper-side-wrapper {
    width: 30px;
  }

  .topper-side-cell {
    width: 30px;
  }

  .user-side-name {
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .link-side-wrqpper {
    width: 30px;
  }

  .topper-side-profile {
    min-width: 140px;
  }

  .links-table {
    margin-left: 70px;

    th {
      padding: 15px 80px 15px 0;
    }

    td {
      padding: 15px 30px 15px 0;
    }
  }
}

@media (max-width: 575.98px) {
  .links {
    padding-left: 0;
    margin-right: 20px;
  }

  .links-container {
    .general-wrapper {
      display: block;
    }
  }

  .container {
    text-align: center;
  }

  .grid-container {
    margin: 0 auto;
  }

  .general-callender {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;

    .icon {
      display: block;
      margin-left: 47px;
    }
  }

  
  .general-statistic {
    padding-left: 0;
    margin-bottom: 0;
  }

  .sidebar {
    z-index: 2;
  }

  .topper {
    display: none;
  }

  .side-topper {
    display: flex;
    position: static;
  }

  .topper-side-wrapper {
    display: flex;
    height: 200px;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
  }

  .topper-side-cell {
    border: 1px $side-bar-font-color;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    background: white;
    width: 100%;
    height: 80px;
    background: $sidebar-nav;
  }

  .section-name {
    padding: 0;
    height: 25px;
    margin-left: 15px;

  }

  h2 {
    text-align: center;
  }

  .subtitle-wrapper {
    text-align: center;
    padding-left: 0;
    padding-bottom: 60px;
  }

  .link-wrapper {
    .total-side-amount {
      margin: 0 7px;
    }

    .topper-side-icon {
      margin-left: -3px;
    }
  }

  .topper-side-wrapper {
    width: 30px;
  }

  .topper-side-cell {
    width: 30px;
  }

  .user-side-name {
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .topper-side-profile {
    min-width: 140px;
  }


  .links-container {
    table {
      border-collapse: collapse;
      text-align: left;
      width: 100%;
      margin-left: 0;

      thead {
        left: -9999px;
        position: absolute;
        visibility: hidden;
      }

      tr {
        background: white;
        border-bottom: 1px solid;
        border-bottom: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 40px;
        width: 220px;

        th,
        td {
          padding: 10px 20px;
        }
        
        td {
          border: 1px solid;
          margin: 0 -1px -1px 0;
          padding-top: 35px;
          position: relative;
          width: 80%;
        }

        span {
          background: #eee;
          color: dimgrey;
          display: none;
          font-size: 10px;
          font-weight: bold;
          padding: 5px;
          position: absolute;
          text-transform: uppercase;
          top: 0;
          left: 0;
          display: block;
        }
      }
    }
  }
}