h2 {
  font-size: 17px;
  color: $side-bar-font-color;
  font-family: $paragraph-font;
  text-transform: uppercase;
}

h3 {
  font-size: 15px;
  font-family: $paragraph-font;
  color: $side-bar-font-color;
}

a {
  color: $side-bar-font-color;
  text-decoration: none;
  transition: $transition;
}

i {
  z-index: 1;
  font-size: 20px;
}

li {
  font-size: 14px;
  font-family: $paragraph-font;
  font-weight: lighter;
  color: $side-bar-font-color;
  text-decoration: none;
  list-style: none;
}

.icon-image {
  height: 18px;
  width: 18px;
  filter: invert(83%) sepia(78%) saturate(0%) hue-rotate(202deg) brightness(50%) contrast(85%);
}

th {
  color: $side-bar-font-color;
  font-size: 15px;
  font-family: $paragraph-font;
}