/*h1 {
  font-size: 25px;
  //font-family: $head-font;
  color: $page-title-color;
  font-weight: lighter;
}*/

h2 {
  font-size: 13px;
  color: $side-bar-font-color;
  font-family: $paragraph-font;
  text-transform: uppercase;
}

/*h3 {
  font-size: 14px;
  font-family: $paragraph-font;
  font-weight: lighter;
  color: $side-bar-font-color;
}*/

h4 {
  font-size: 15px;
  font-family: $paragraph-font;
  color: $side-bar-font-color;
}

a {
  color: $side-bar-font-color;
  text-decoration: none;
  transition: $transition;
}

i {
  z-index: 1;
  color: $side-bar-font-color;
  font-size: 20px;
}

li {
  font-size: 14px;
  font-family: $paragraph-font;
  font-weight: lighter;
  color: $side-bar-font-color;
  text-decoration: none;
  list-style: none;
}

.icon-image {
  height: 18px;
  width: 18px;
  filter: invert(83%) sepia(78%) saturate(0%) hue-rotate(202deg) brightness(50%) contrast(85%);
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

th {
  color: $side-bar-font-color;
  font-size: 15px;
  font-family: $paragraph-font;
}